<h1>All Employees</h1>
{{#each employees as |employee|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{employee.name}}</h5>
    <ul class="card-text">
        <li>{{ employee.position }}</li>
        <li>{{ employee.address }}</li>
        
    </ul>
    
  </div>
</div>
{{/each}} 