<h1>All Employees</h1>
{{#each employees as |emplpoyee|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{employee.name}}</h5>
    <ol class="card-text">
        <li>{{ employee.id }}</li>
        <li>{{ employee.name }}</li>
        
    </ol>
    <a href="#" class="btn btn-primary">Edit Dish</a>
  </div>
</div>
{{/each}}