<h1>Orders</h1>
{{#each orders as |order|}}
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{ order.id }}  {{order.allergy}} {{order.status}}</div>

  <div class="card-body">

    {{!-- <ul>
     {{#each order.dishes as |dish|}}
        {{> dish-details}}
     {{/each}}
    </ul> --}}
   
    
  </div>
</div>
{{/each}}

{{!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ customer_name }}</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> --}}