<!-- This template and others are the exact same as before, but now we are using a db instead of hardcoded data -->
<div class="order-card">
  <div class="order-card-header">
    {{customer_name}}
  </div>
  {{#each orders as |order|}}
  <div class="card-body">
    <p>
      Order:
      <ol>

     {{#each dishes as |dish|}}
        <li>{{dish.name}}
            {{dish.addons}}
            {{dish.allergies}}
        </li>
      {{/each}}
      
      </ol>
    </p>
    
  </div>
</div>
